<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="row divider blue">
				<div class="col-md-12"></div>
			</div>
			<div class="row banner main">
				<div class="col-md-1"></div>
				<div class="col-md-11 padding-none">
					<h1>Item Catalog</h1>
				</div>
			</div>
				{% block content %}
				{% endblock %}
		</div>
	</body>
</html>